html, body {
	/*position: relative; /* used for footer */
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
	font-color: #353535;
	background: #fefefe;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

/* 
 * Titles and fonts 
 */

h1, h2, h3, h4 {
	font-family: "Lato";
	font-weight: 700;
}

/* use in header */
h1 {
	font-size: 24pt;
}

/* use for important titles: deliv name, etc. */
h2 {
	color: #ff4900;
	font-size: 18pt;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 2px solid #ff9000;
}

/* use for section name */
h3 {
	color: #333;
	font-size: 14pt;
	margin-top: 40px;
	margin-bottom: 4px;
}

/* use for subheaders inside section */
h4 {
	color: #333;
	font-size: 12pt;
	margin-top: 20px;
	margin-bottom: 4px; 
}

/* use h5 for list headers -- same size as h4, interchangeable*/
h5 {
	color: #ff4900;
	font-size: 12pt;
	font-weight: 400;
	margin-bottom: 4px;
}

/* 
 * Header
 */

#header {
	margin: 0;
	top: 0;
	position: fixed;
	height: 66px;
	width: 100%;
	color: #fff;
	background: #ff4900;
	border-bottom: 4px solid #ff9000;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

#footer {
	margin: 0;
	position: absolute;
	bottomm: 0;
	height: 66px;
	width: 100%;
	color: #fff;
	background: transparent;
	border-top: 4px solid rgba(0,0,0,0.075);
}

#header #logo,
#footer #logo {
	display: inline-block;
	height: 70px;
	width: 249px;
}

#header #logo img,
#footer #logo img {
	position: absolute;
	height: 40px;
	margin-top: 15px;
	margin-left: 15px;
	border: none;
}

#header #nav {
	position: fixed;
	margin: 0;
	display: inline-block;
	line-height: 70px;
	height: 70px;
	max-height: 70px;
}

#header #nav span {
	vertical-align: middle;
}

#header #nav a {
	color: rgba(255,255,255,0.80);
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px 2px 2px 2px;
	border-bottom: 2px solid rgba(255,255,255,0.40);;
	transition: all 0.2s ease 0s;
}

#header #nav a:hover {
	color: #fff;
	border-color: #fff;
	transition: all 0.2s ease 0s;
}

#header #nav a.selected {
	color: #fff;
	border-color: #fff;
}

#footer #title_block {
	position: absolute;
	display: inline-block;
	/*line-height: 70px;*/
	height: 70px;
	max-height: 70px;
	margin: 0;
	margin-left: 5px;
}

#footer #title_block span {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 40px;
	line-height: 20px;
}

#footer #logo img {
	opacity: 0.40;
}

#footer .subtitle {
	font-size: 11pt;
	font-weight: 400;
	color: rgba(0,0,0,0.40);
}

/* 
 * Main body 
 */

#banner {
	/* offset to display it right under h2 on index.html */
	margin-top: -20px;
}

#main {
	height: 100%;
	width: 640px;
	display: block;
	margin: 0 auto;
	padding-top: 80px; /* for header */
	padding-bottom: 100px;
}

#main a {
	color: #ff9000;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 2px solid #ffd8a6;
	transition: all 0.2s ease 0s;
	line-height: 25px;
}

#main a:hover {
	color: #ff4900;
	border-color: #ff7640;
	transition: all 0.2s ease 0s;
}

img {
	max-width: 100%;
}

.figure {
	width: 100%;
}

.figure img {
	border: 1px solid #ccc;
	border-radius: 0;
	display: block;
	margin: auto;
}

img .table {
	border: none;
}

hr {
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
	border-width: 1px;
	border-color: #ff9000;
	border-style: dotted;
}

#imglink img,
#questionnaires img,
#sketches img {
	margin: 3px;
	border: 2px solid transparent;
	width: 300px;
	transition: all 0.2s ease 0s;
}

#screenshots > div {
	display: block;
	margin: 10px 3px 10px 3px;
	background: #f6f6f6;
	width: 300px;
	border: 2px solid #eee;
	transition: all 0.2s ease 0s;
}

#screenshots > div > .tip {
	padding-top: 0px;
	transition: all 0.2s ease 0s;
}

/* display images side by side with tip underneath */
#screenshots::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

#screenshots > .left {
	float: left;
}

#screenshots > .right {
	float: right;
}

#imglink img {
	width: 640px;
}

#imglink a,
#questionnaires a,
#sketches a,
#screenshots a {
	border: none;
}

#imglink img:hover,
#questionnaires img:hover,
#sketches img:hover,
#screenshots > div:hover {
	border-color: #ff4900;
	transition: all 0.2s ease 0s;
}

.body_text, li {
	color: #353535;
	font-size: 11pt;
	line-height: 25px;
	padding-bottom: 10px;
}

/* use for small tips e.g. click to open image in new tab */
.tip {
	font-size: 10pt;
	width: 100%;
	color: #666;
	text-align: center;
}

/* used to set a block of text apart */
.quote {
	color: #a65e00;
	background: #ffeed9;
	border-radius: 2px;
	padding: 20px 25px 20px 25px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 11pt;
	line-height: 25px;
}

/* used for the citation in project proposal */
#problem_footer {
	border-top: 1px solid #ccc;
}

.footnote {
	font-size: 9pt;
}