html {
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	position: relative; /* used for footer */
	min-height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
	font-color: #353535;
}

/* 
 * Titles and fonts 
 */

/*.title {
	font-family: "Lobster", sans-serif;
	font-weight: 400;
}

.subtitle {
	font-family: "Lato";
	font-weight: 400;
}*/

h1, h2, h3, h4 {
	font-family: "Lato";
	font-weight: 700;
}

/* use in header */
h1 {
	font-size: 24pt;
}

/* use for important titles: deliv name, etc. */
h2 {
	color: #ff4900;
	font-size: 18pt;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 2px solid #ff9b73;
}

/* use for section name */
h3 {
	color: #333;
	font-size: 14pt;
	margin-top: 40px;
	margin-bottom: 4px;
}

/* use for subheaders inside section */
h4 {
	color: #333;
	font-size: 12pt;
	margin-top: 20px;
	margin-bottom: 4px; 
}

/* use h5 for list headers -- same size as h4, interchangeable*/
h5 {
	color: #ff4900;
	font-size: 12pt;
	font-weight: 400;
	margin-bottom: 4px;
}

/* use for small tips e.g. click to open image in new tab */
.tip {
	font-size: 10pt;
	width: 100%;
	color: #666;
	text-align: center;
}

.title,
.subtitle {
	margin: 0px;
}


/* 
 * Header
 */

#header {
	margin: 0;
	top: 0;
	position: fixed;
	height: 66px;
	width: 100%;
	color: #fff;
	background: #ff4900;
	border-bottom: 4px solid #ff9b73;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

#footer {
	margin: 0;
	position: absolute;
	bottom: 0;
	height: 70px;
	width: 100%;
	color: #fff;
	background: #ff9000;
}

#header #logo {
	display: inline-block;
	height: 70px;
	width: 249px;
}

#header #logo img {
	position: absolute;
	height: 40px;
	margin-top: 15px;
	margin-left: 15px;
	border: none;
}

#header #title_block,
#footer #title_block {
	display: inline-block;
	margin: 0;
	margin-left: 25px;
	margin-right: 25px;
	height: 70px;
	width: auto;
	text-align: left;
}

#footer #title_block {
	margin-top: 0;
	text-align: center;
	width: 50%;
	margin-left: 25%;
}

#header #nav {
	position: fixed;
	margin: 0;
	display: inline-block;
	line-height: 70px;
	height: 70px;
}

#header #title_block span,
#header #nav span {
	vertical-align: middle;
}

#header #nav a {
	color: #ffbfa6;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	padding: 2px 2px 2px 2px;
	border-bottom: 2px solid #ff9b73;
	transition: all 0.2s ease 0s;
}

#header #nav a:hover {
	color: #fff;
	border-color: #fff;
	transition: all 0.2s ease 0s;
}

#header #nav a.selected {
	color: #fff;
	border-color: #fff;
}

/* 
 * Main body 
 */

#main {
	width: 640px;
	display: block;
	margin: 0 auto;
	padding-top: 80px; /* for header */
	padding-bottom: 180px;
}

#main a {
	color: #ff9000;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 2px solid #ffd8a6;
	transition: all 0.2s ease 0s;
}

#main a:hover {
	color: #ff4900;
	border-color: #ff7640;
	transition: all 0.2s ease 0s;
}

img {
	max-width: 100%;
}

img .figure {
	border: 1px solid #ccc;
	border-radius: 0;
}

img .table {
	border: none;
}

hr {
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
	border-width: 1px;
	border-color: #ff9b73;
	border-style: dotted;
}

#imglink img,
#questionnaires img,
#sketches img {
	margin: 3px;
	border: 2px solid transparent;
	width: 300px;
	transition: all 0.2s ease 0s;
}

#imglink img {
	width: 640px;
}

#imglink a,
#questionnaires a,
#sketches a {
	border: none;
}

#imglink img:hover,
#questionnaires img:hover,
#sketches img:hover {
	border-color: #ff4900;
	transition: all 0.2s ease 0s;
}

.body_text, li {
	color: #353535;
	font-size: 11pt;
	line-height: 25px;
	padding-bottom: 10px;
}

/* used to set a block of text apart */
.quote {
	color: #a65e00;
	background: #ffeed9;
	border-radius: 2px;
	padding: 20px 25px 20px 25px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 11pt;
	line-height: 25px;
}

/* used for the citation in project proposal */
#problem_footer {
	border-top: 1px solid #ccc;
}

.footnote {
	font-size: 9pt;
}