

TextField {
  border-width: 1;
  border-color: black;
}

.content {
  margin-left: 15;
  margin-right: 15;
  padding-bottom: 15;
  padding-top: 20%;
  background-color: white;
}
.p{
  text-align: center;
  margin-bottom: 15;
}
.people{
  margin-top:0;
}
.border{
  color:#CB1D00;
}
.logo {
  margin-top: 12;
  margin-bottom: 12;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
  border-radius: 80;
}

.playername{
  font-size: 20;
  text-align: center;
}