<ActionBar class="action-bar">
                <StackLayout orientation="horizontal" horizontalAlignment="center">
                        <Image class="logo" src="~/shared/logo.png"></Image>
                </StackLayout> 
</ActionBar>

<StackLayout class="inner-stack" orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
        <Label text="{{'Pass the phone to '.concat(rdp.currentPlayer.name).concat(' in order to start the game!')}}"  textWrap="true"></Label>  
        <Button text="{{rdp.currentPlayer.name.concat(', are you ready?')}}" class="submit-button" (tap)="submit()"></Button>        
        
</StackLayout>